.contenedor{
    /* display: grid; */
    /* grid-template-columns: 2fr 1fr; */
    background: #fff;
    /* box-shadow: 10px 10px 10px 10px rgba(129, 129, 129, 0.736); */
   /*  border-radius: 1rem; */
    
}
.menu{
   /*  grid-column: span 2; */
    background: linear-gradient(120deg,#c8aba4,#32201f ,#c8aba4);
   /*  width: 141%!important; */
   display: flex;
   flex-direction: column;
   

}

.menucarro{
  align-items: flex-end!important;
}
.menulinks{
  align-items: flex-start!important;
}
.menu a{
  color:white;
  
}
.menu a:hover{
  color:white;
 /*  border-radius: 15px; */
  border-color: white!important;
}
/* .barra{
  width: 1000px;
} */
.carro{
  height: 75vh;
}
.carro2{
  height: 100%;
}
.ancho{
  width: 35vh!important;
}