.carrito1{
    /* height: 100%; */
    height: 90%;
}
.carrito2{
    height: 67vh;
    /* overflow-y:auto; */
    display:flex;
    flex-direction: column;
}
.colores{
    color:gray;
}
.carrocompras{
    /* width: 10vw!important; */
    height: 10vh!important;
}
.probando{
    max-width: 10%!important;
}
.tiendaimagenes{
   /*  width: 20vw;
    height: 20vh; */
}